/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  /* colors */
  --background-color: white;
  --light-color: #f8f8f8;
  --dark-color: #505050;
  --text-color: #131313;
  --link-color: #3b63fb;
  --link-hover-color: #1d3ecf;
  --swiper-theme-color: #fff;

  /* fonts */
  --body-font-family: roboto, roboto-fallback, sans-serif;
  --heading-font-family: roboto-condensed, roboto-condensed-fallback, sans-serif;

  /* body sizes */
  --body-font-size-m: 22px;
  --body-font-size-s: 19px;
  --body-font-size-xs: 17px;

  /* heading sizes */
  --heading-font-size-xxl: 55px;
  --heading-font-size-xl: 44px;
  --heading-font-size-l: 34px;
  --heading-font-size-m: 27px;
  --heading-font-size-s: 24px;
  --heading-font-size-xs: 22px;

  /* nav height */
  --nav-height: 64px;
}

/* fallback fonts */
@font-face {
  font-family: roboto-condensed-fallback;
  size-adjust: 88.82%;
  src: local('Arial');
}

@font-face {
  font-family: roboto-fallback;
  size-adjust: 99.529%;
  src: local('Arial');
}

@media (width >= 900px) {
  :root {
    /* body sizes */
    --body-font-size-m: 18px;
    --body-font-size-s: 16px;
    --body-font-size-xs: 14px;

    /* heading sizes */
    --heading-font-size-xxl: 45px;
    --heading-font-size-xl: 36px;
    --heading-font-size-l: 28px;
    --heading-font-size-m: 22px;
    --heading-font-size-s: 20px;
    --heading-font-size-xs: 18px;
  }
}

body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-m);
  line-height: 1.6;
  background:#ebfffe;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

header .header,
footer .footer {
  visibility: hidden;
}

header .header[data-block-status="loaded"],
footer .footer[data-block-status="loaded"] {
  visibility: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 1.25;
  scroll-margin: 40px;
}

h1 { font-size: var(--heading-font-size-xxl); }
h2 { font-size: var(--heading-font-size-xl); }
h3 { font-size: var(--heading-font-size-l); }
h4 { font-size: var(--heading-font-size-m); }
h5 { font-size: var(--heading-font-size-s); }
h6 { font-size: var(--heading-font-size-xs); }

p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
}

code,
pre {
  font-size: var(--body-font-size-s);
}

pre {
  padding: 16px;
  border-radius: 8px;
  background-color: var(--light-color);
  overflow-x: auto;
  white-space: pre;
}

main > div {
  margin: 40px 16px;
}

input,
textarea,
select,
button {
  font: inherit;
}

/* links */
a{
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

/* buttons */

a.button:hover,
a.button:focus,
button:hover,
button:focus {
  cursor: pointer;
}

button:disabled,
button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
}

a.button.secondary,
button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color);
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

main > .section > div {
  max-width: 1200px;
  margin: auto;
  padding: 0 24px;
}

main > .section:first-of-type {
  margin-top: 0;
}

@media (width >= 900px) {
  main > .section > div {
    padding: 0 32px;
  }
}

/* section metadata */
main .section.light {
  background-color: var(--light-color);
  margin: 0;
  padding: 40px 0;
}

main .hero-banner{
    position: relative;
    padding: 16px 48px 0;
    margin: 0 0 70px 0;
    z-index: 4;
    @media (max-width:950px) {
      margin: 0;
      padding: 0;
    }
}

main .hero-banner::before{
      content: "";
      width: 100%;
      height: 85%;
      background-image: url('../icons/sky1.png');
      position: absolute;
      display: block;
      z-index: -1;
      top: 0px;
      bottom: 0;
      left: 0;
      right: 0;
}

main .hero-banner .default-content-wrapper{
      padding: 0;
      margin: 0;
      width: 100%;
      max-width: 100%;
}

main .hero-banner .default-content-wrapper p{
        margin: 0;
}

main .hero-banner .default-content-wrapper picture img{
            max-width: 100%;
            height: 100%;
            width: 100%;
}

main .search-component{
  /* z-index: 2; */
  overflow: hidden;
  top: -63px;
  margin-left: 0;
  padding: 150px 0 20px;
  background: #f5c52c;
  overflow: visible;
  position: relative;
  width: 100%;
  margin-top: -222px;
  .default-content-wrapper{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    > ul{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      list-style: none;
      justify-content: space-evenly;
      @media (max-width:800px){
        justify-content: center;
        width: 100%;
      }
      > li:nth-child(1){
        line-height: 1.1;
        font-weight: 500;
        font-size: 36px;
        color: #fff;
        text-shadow: 0 3px 7px #0000002e;
        font-family: "Baloo Bhaina 2", cursive;
        @media (max-width:800px) {
          display: none;
        }
        p{
          margin: 0;
          padding: 0;
        }
      }
      > li:nth-child(2), > li:nth-child(3){
        width: 385px;
        height: 50px;
        background: #fff;
        color: #111;
        font-size: 16px;
        padding: 0;
        border-radius: 30px;
        display: inline-flex;
        box-shadow: 0 3px 7px #0000002e;
        position: relative;
        cursor: pointer;
        @media (max-width:1100px){
          width: 220px;
        }
        > p{
          width: 100%;
          padding: 0 0 0 63px;
          margin: 0;
          font-size: 16px;
          cursor: pointer;
          transition: background-image 0.3s ease;
          align-items: center;
          display: flex;
          &::before{
            content: '';
            width: 40px;
            height: 40px;
            position: absolute;
            left: 15px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            animation-duration: 1s;
            animation-delay: 100ms;
            animation-iteration-count: infinite;
            animation-name: pulse;
          }
        }
        > ul{
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          background: #fff;
          border-radius: 15px;
          box-shadow: 0 3px 7px #0000002e;
          margin-top: 5px;
          padding: 10px 0;
          list-style: none;
          display: none;
          flex-direction: column;
          z-index: 10;
          > li{
            padding: 10px 20px;
            color: #111;
            font-size: 16px;
            transition: background 0.3s ease;
            cursor: pointer;
            &:hover{
              background: #f5f5f5;
            }
            &:first-child{
              font-weight: 500;
              cursor: default;
              &:hover{
                background: transparent;
              }
            }
          }
        }
        &.active > ul{
          display: flex;
        }
      }
      > li:nth-child(2)::after, > li:nth-child(3)::after{
        content: "";
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 12px solid #111;
        right: 17px;
        top: 20px;
        position: absolute;
        pointer-events: none;
        cursor: pointer;
      }
      > li:nth-child(2){
        @media (max-width:800px) {
          width: 40%;
          border-bottom-right-radius: 0px;
          border-top-right-radius: 0px;
          border-bottom-left-radius: 10px;
          border-top-left-radius: 10px;
        }
        p{
          @media (max-width:450px){
            font-size: 14px;
            padding: 0 0 0 47px;
          }
          @media (max-width:350px){
            font-size: 10px;
          }
        }
        > p::before{
          background-image: url('/icons/group3.png');
          @media (max-width:450px) {
            width: 30px;
          }
        }
      }
      > li:nth-child(3){
        @media (max-width:800px) {
          border-radius: 0;
          width: 40%;
          box-shadow: none;
          border-left: 1px solid #ccc;
        }
        p{
          @media (max-width:450px){
            font-size: 14px;
            padding: 0 0 0 47px;
          }
          @media (max-width:350px){
            font-size: 12px;
          }
        }
        > p::before{
          background-image: url('/icons/group1.png');
          @media (max-width:450px) {
            width: 30px;
          }
        }
      }
      > li:nth-child(4){
        background: #249be5;
        color: #fff;
        font-size: 18px;
        padding: 0 20px 0 54px;
        height: 49px;
        border-radius: 30px;
        display: inline-block;
        text-transform: uppercase;
        font-weight: 600;
        line-height: 54px;
        justify-content: center;
        display: flex;
        position: relative;
        &::before {
          content: '';
          position: absolute;
          left: 20px;
          top: 50%;
          transform: translateY(-50%);
          width: 24px;
          height: 24px;
          background: url('../icons/search.svg') no-repeat center;
          background-size: contain;
          filter: brightness(0) invert(1);
        }
        @media (max-width: 800px) {
          width: 12%;
          border-bottom-left-radius: 0;
          border-top-left-radius: 0;
          padding: 0;
          border-bottom-right-radius: 10px;
          border-top-right-radius: 10px;
          background: #fff url('../icons/search.svg') no-repeat center;
          background-size: 24px;
          margin: 0;
          p {
            display: none;
          }
        }
        p{
          margin: 0;
          padding: 0;
        }
      }
    }
  }
}

main .search-component::after{
  position: absolute;
  content: "";
  bottom: -238px;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../icons/white-down-wave.svg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
}

main .search-component::before{
  position: absolute;
  content: "";
  top: 18px;
  left: 27%;
  width: 53px;
  height: 75px;
  background: url('../icons/icon1.png');
  animation-duration: 1s;
  animation-delay: 100ms;
  animation-iteration-count: infinite;
  animation-name: pulse;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
  z-index: 13;
}

main .product-upload{
  top:-100px;
  position: relative;
  margin: 0;
  padding: 0;
  padding-bottom: 83px;
  display: flex;
  background: #ebfffe;
  justify-content: center;
  .default-content-wrapper{
    margin: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    p{
      text-align: center;
      z-index: 1;
      margin: 0;
      padding: 0;
      position: relative;
    }
    ul{
      background: #07bfd7;
      margin-top: -25px;
      padding: 15px;
      border-radius: 10px;
      position: relative;
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      @media (max-width:600px){
        display: flex;
        flex-direction: column;
        padding: 0;
        li:nth-child(2){
          width: fit-content;
          position: absolute;
          left: 25%;
          bottom: -23px;
        }
        li:nth-child(1){
          padding-top: 20px;

        }
      }
      li:nth-child(1){
        color: #fff;
        font-size: 20px;
        margin-left: 20px;
        font-family: "Baloo Bhaina 2", cursive;
        line-height: 1.1;
        font-weight: 500;
        align-items: center;
        display: flex;
        position: relative;
        padding-left: 35px;
        &::before{
          content: '';
          width: 100%;
          height: 100%;
          position: absolute;
          left: -200px;
          background-image: url('/icons/upload.png');
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          @media (max-width:600px){
            display: none;
          }
        }
      }
      li:nth-child(2){
        background: #b01a86;
        min-width: 194px;
        color: #fff;
        font-size: 16px;
        text-align: center;
        line-height: 36px;
        padding: 4px 6px;
        padding-right: 40px;
        border-radius: 30px;
        display: inline-block;
        text-transform: uppercase;
        font-weight: 600;
        overflow: visible;
        position: relative;
        transition: all .3s ease;
        outline: 0;
        z-index: 1;
        
        &::after {
          content: '\f061';
          font-family: 'Font Awesome 5 Free';
          font-weight: 900;
          position: absolute;
          right: 4px;
          top: 50%;
          transform: translateY(-50%);
          background: #fff;
          width: 32px;
          height: 32px;
          color: #111;
          line-height: 32px;
          border-radius: 30px;
          box-shadow: inset -4px -3px 0 #ddd;
          transition: all 150ms linear;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 14px;
        }
      }
      
    }
  }
}

main .text-only{
  padding: 0;
  padding-top: 10px;
  position: relative;
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  margin-top: 73px;
  margin: auto;
  @media (max-width:750px) {
    display: none;
  }
  .default-content-wrapper{
    margin: 0;
    padding: 0 15px;
    width: 50%;
    font-family: "Baloo Bhaina 2", cursive;
    font-size: 16px;
    p{
      color: #797979;
      padding: 0;
      margin: 0;
    }
    .button-container{
      a{
        margin-top: 20px;
        background: #af299f;
        border-radius: 30px;
        min-width: 146px;
        height: 46px;
        line-height: 36px;
        padding: 7px 6px;
        padding-right: 40px;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 146px;
        position: relative;
        
        &::after {
          content: '\f061';
          font-family: 'Font Awesome 5 Free';
          font-weight: 900;
          position: absolute;
          right: 4px;
          top: 50%;
          transform: translateY(-50%);
          background: #fff;
          width: 32px;
          height: 32px;
          color: #111;
          line-height: 32px;
          border-radius: 30px;
          box-shadow: inset -4px -3px 0 #ddd;
          transition: all 150ms linear;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 14px;
        }
      }
      
    }
  }
  .cards-wrapper{
    padding: 0 15px;
    margin: 0;
    display: flex;
    flex-direction: row;
    width: 50%;
    .cards{
      ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        li{
          background: #fff;
          padding: 30px;
          border-radius: 12px;
          box-shadow: 8px 0 29px #b8deec47;
          padding-bottom: 15px;
          margin-top: 20px;
          display: flex;
          .cards-card-image{
            width: 100px;
            picture{
              img{
                aspect-ratio: unset;
              }
            }
          }
          .cards-card-body{
            margin: 0;
            padding-left: 30px;
            font-family: "Baloo Bhaina 2", cursive;
            width: calc(100% - 120px);
            #school{
              color: #af1a86;
            }
            #teachers{
              color: #063a76;
            }
            h3{
              margin: 0;
              padding: 0;
              color: #07bfd7;
              font-size: 22px;
            }
            p{
              margin: 0;
              padding: 8px 0;
              font-size: 16px;
              color: #797979;
            }
          }
        }
      }
    } 
  }
}

main .text-only::before{
  content: "";
  position: absolute;
  top: -50px;
  left: 40%;
  width: 85px;
  height: 72px;
  background: url('/media_11137d15fff3e7c0c8a15ce1d6969793b47697fe6.png');
  animation-duration: 1s;
  animation-delay: 100ms;
  animation-iteration-count: infinite;
  animation-name: pulse;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
  z-index: 9;
}

main .blog-highlights{
  position: relative;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: -27px;
  .default-content-wrapper{
    margin-top: 120px;
    background-color: #07bfd7;
    padding: 0 70px 80px 50px;
    border-radius: 40px 40px 0 0;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Left | Right */
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "title image"
      "text image"
      "button image";
    align-items: start;
    @media (max-width:750px) {
      display: flex;
      flex-direction: column;
    }

    &::after{
      content: "";
      position: absolute;
      background-image: url(../icons/tv-right-shape.svg);
      height: 100%;
      width: 100%;
      bottom: 0;
      right: -13px;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -2;
    }
    &::before{
      content: "";
      position: absolute;
      background-image: url(../icons/upcoming-live.svg);
      height: 100%;
      width: 100%;
      top: -80px;
      left: 0;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -1;
    }
    h2{
      font-size: 40px;
      text-transform: uppercase;
      font-weight: 600;
      color: #fff;
      font-family: "Baloo Bhaina 2", cursive;
      line-height: 1.1;
      margin: 0;
      padding-top: 60px;
      @media (max-width:750px) {
        padding-top: 23px;
      }
    }
    p{
      color: #fff;
      font-size: 16px;
      font-family: "Baloo Bhaina 2", cursive;
    }
    .button-container{
      align-items: flex-start;
      display: flex;
      a{
        min-width: 171px;
        height: 47px;
        text-transform: uppercase;
        background-color: #078899;
        display: flex;
        align-items: center;
        padding-right: 40px;
        position: relative;
        color: #fff;
        border-radius: 30px;
        
        &::after {
          content: '\f061';
          font-family: 'Font Awesome 5 Free';
          font-weight: 900;
          position: absolute;
          right: 4px;
          top: 50%;
          transform: translateY(-50%);
          background: #fff;
          width: 32px;
          height: 32px;
          color: #111;
          line-height: 32px;
          border-radius: 30px;
          box-shadow: inset -4px -3px 0 #ddd;
          transition: all 150ms linear;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 14px;
        }
      }
    }
  }
  .default-content-wrapper > h2 {
    grid-area: title;
  }

  /* 2nd element = text <p> */
  .default-content-wrapper > p:nth-of-type(1) {
    grid-area: text;
  }

  /* 3rd element = button container */
  .default-content-wrapper > p.button-container {
    grid-area: button;
  }

  /* 4th element = LAST <p> with picture */
  .default-content-wrapper > p:last-of-type {
    grid-area: image;
  }
}

main .blog-highlights::before{
  content: "";
  position: absolute;
  background-image: url('../icons/headphone.png');
  top: 40px;
  left: 28%;
  width: 65px;
  height: 70px;
  animation-duration: 1s;
  animation-delay: 100ms;
  animation-iteration-count: infinite;
  animation-name: pulse;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  @media (max-width:750px) {
    top: 75px;
    z-index: 9;
  }
}

main .blog-highlights::after{
  content: "";
  position: absolute;
  background-image: url('../icons/tv-book.png');
  right: 9px;
  bottom: 0;
  width: 146px;
  height: 70px;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 15;
  
}

main .highlight{
  background:#eff8ff;
  padding: 77px 0;
  position: relative;
  z-index: 1;
  margin: 0;
  .default-content-wrapper{
    max-width: 1200px;
    padding: 0;
    margin: auto;
    h2{
      display: inline-block;
      font-weight: 500;
      line-height: 45px;
      font-size: 36px;
      font-family: "Baloo Bhaina 2", cursive;
      color: #111;
      margin: 0;
      padding: 0;
    }
    p{
      display: flex;
      background: #fff;
      align-items: center;
      justify-content: flex-end;
      padding: 1rem;
      border-radius: 5px;
      flex-direction: row-reverse;
      margin: 1.5rem 0 5rem;
      color: #07bfd7;
      font-size: 1.2rem;
      font-weight: 500;
      margin-left: 1.5rem;
      &::after{
        content: '';
        width: 30px;
        height: 30px;
        margin-right: 10px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Layer_1' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background: new 0 0 512 512;' xml:space='preserve'%3E%3Ccircle style='fill:%23FF7069;' cx='256' cy='256' r='256'%3E%3C/circle%3E%3Cpath style='fill:%23E4E7ED;' d='M208.809,445.312l-24.051-129.184l-64.137,23.322l46.463,119.527 C171.274,469.546,211.906,459.707,208.809,445.312z'%3E%3C/path%3E%3Cpolygon style='fill:%23C6CBD6;' points='186.215,324.327 184.757,315.946 120.438,339.268 124.447,349.29 '%3E%3C/polygon%3E%3Cpath style='fill:%23E4E7ED;' d='M227.576,283.695l196.054,12.208L329.794,58.124L195.143,201.338 c12.026,30.611,20.407,51.747,32.615,82.175L227.576,283.695z'%3E%3C/path%3E%3Cpolygon style='fill:%23C6CBD6;' points='227.576,283.695 423.63,295.903 415.248,274.585 223.932,274.585 '%3E%3C/polygon%3E%3Cg%3E%3Cpath style='fill:%236C7678;' d='M198.058,203.16c-2.186-5.466-7.47-8.746-11.661-6.924L73.976,241.059 c-4.373,1.64-6.013,7.653-3.826,13.119l16.399,41.543l16.399,41.361c2.186,5.466,7.47,8.746,11.661,6.924l112.421-44.823 c4.373-1.64,6.013-7.653,3.826-13.119l-16.399-41.361L198.058,203.16z'%3E%3C/path%3E%3Cpath style='fill:%236C7678;' d='M434.198,290.073c2.004,5.102,0.182,10.75-4.373,12.572l0,0c-4.373,1.822-9.657-0.911-11.661-6.195 L325.238,61.404c-2.004-5.102-0.182-10.75,4.373-12.572l0,0c4.373-1.822,9.657,1.093,11.661,6.195L434.198,290.073z'%3E%3C/path%3E%3C/g%3E%3Cpath style='fill:%23E4E7ED;' d='M98.938,327.243l-25.873-65.23C26.42,274.403,46.827,348.743,98.938,327.243z'%3E%3C/path%3E%3Cpath style='fill:%23FFE356;' d='M435.838,148.68l-33.89,13.301c-2.004,0.729-2.733,3.644-1.64,6.377 c1.093,2.733,3.644,4.373,5.648,3.644l33.89-13.301c2.004-0.729,2.733-3.644,1.64-6.377 C440.393,149.591,437.842,147.952,435.838,148.68z'%3E%3C/path%3E%3Cpath style='fill:%236C7678;' d='M166.172,456.974l42.636-10.932c6.195-1.64,9.11,10.021,2.915,11.661L169.27,468.27 c-5.831,1.458-8.928-9.657-3.28-11.115L166.172,456.974z'%3E%3C/path%3E%3Cg%3E%3Cpath style='fill:%23FFE356;' d='M401.583,82.54l-21.865,29.153c-1.275,1.64-0.364,4.555,2.004,6.377 c2.369,1.822,5.284,1.822,6.559,0.182l21.865-29.153c1.275-1.64,0.364-4.555-2.004-6.377C405.774,80.9,402.858,80.9,401.583,82.54z'%3E%3C/path%3E%3Cpath style='fill:%23FFE356;' d='M458.978,229.762l-35.712-6.742c-2.004-0.364-3.28-3.098-2.733-6.013 c0.547-2.915,2.733-4.92,4.737-4.555l35.712,6.742c2.004,0.364,3.28,3.098,2.733,6.013 C463.169,228.122,460.982,230.127,458.978,229.762z'%3E%3C/path%3E%3C/g%3E%3Cpath style='fill:%23E4E7ED;' d='M90.374,245.25c-1.458,0.547-3.28-0.182-3.826-1.64c-0.547-1.458,0.182-3.28,1.64-3.826l76.891-29.7 c1.458-0.547,3.28,0.182,3.826,1.64c0.547,1.458-0.182,3.28-1.64,3.826L90.374,245.25z'%3E%3C/path%3E%3C/svg%3E");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        flex-shrink: 0;
      }
    }
  }
}

main .events-section{
  padding: 51px 0 50px;
  position: relative;
  background: #f26060;
  margin: 12px 0 0 0;
  top: -52px;
  z-index: 1;
  .default-content-wrapper{
    max-width: 1200px;
    padding: 0;
    margin: auto;
    @media (max-width:580px) {
      padding-bottom: 0;
      margin-bottom: 30px;
    }
    ul{
      list-style: none;
      li:nth-child(1){
        font-size: 36px;
        line-height: 1.1;
        font-weight: 500;
        text-align: left;
        text-shadow: 0 3px 7px #0000002e;
        color: #fff;
        display: inline-block;
        @media (max-width:580px) {
          font-size: 24px;
        }
      }
      li:nth-child(2){
        display: inline-block;
        float: right;
        color: #fff;
        font-weight: 600;
        background: #c13c3c;
        padding: 12px 20px 9px 20px;
        border-radius: 30px;
        line-height: 23px;
        position: relative;
        z-index: 9;
      }
    }
  }
   .cards-wrapper{
    max-width: 1200px;
    padding: 24px 0 0;
    margin: auto;
   .cards{
       margin: auto;
        display: flex;
        flex-direction: row;
      ul{
        display: flex;
        width: 100%;
        li{
          width: 50%;
          border-radius: 12px;
          .cards-card-body:nth-child(1){
          display: none;
          }
          .cards-card-body:nth-child(2){
            background: #fff;
            margin: 0;
            padding: 0;
            border-radius: 12px;
            overflow: hidden;
            position: relative;
            &::after{
              content: '';
              position: absolute;
              bottom: 0;
              right: 0;
              width: 94px;
              height: 32px;
              background-image: url("data:image/svg+xml,%3Csvg width='94' height='32' viewBox='0 0 94 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M51.6174 17.3413C35.8755 28.1493 10.8918 31.2427 0.367676 31.4385H93.322V3.09713C76.5814 -4.39208 71.2949 3.83137 51.6174 17.3413Z' fill='%2307bfd7'%3E%3C/path%3E%3C/svg%3E");
              background-size: contain;
              background-repeat: no-repeat;
              background-position: bottom right;
              pointer-events: none;
            }
            > ul{
              list-style: none;
              display: flex;
              flex-direction: row;
              padding: 10px;
              margin: 0;
              @media (max-width: 800px) {
                flex-direction: column;
                align-items: center;
                padding: 0;
              }
              li{
                ul{
                  display: flex;
                  flex-direction: column;
                  list-style: none;
                  font-family: "Baloo Bhaina 2", cursive;
                  margin: 0;
                  padding: 0;
                }
              }
              & > li:nth-child(1){
                background: #07bfd7;
                padding: 4px 15px;
                border-radius: 12px;
                text-align: center;
                width: 100px;
                float: left;
                padding-top: 16px;
                align-items: center;
                margin: auto;
                @media (max-width:800px){
                  width: 100%;
                  padding: 0;
                }
                ul{
                  @media (max-width:800px){
                    display: flex;
                    align-items: center;
                  }
                  li:nth-child(1){
                    color: white;
                    padding-bottom: 10px;
                    font-size: 16px;
                    width: 100%;
                  }
                  li:nth-child(2){
                    color: #fff;
                    line-height: 20px;
                    font-size: 40px;
                    font-weight: 600;
                    margin: 0;
                    padding:0 0 5px 10px;
                  }
                  li:nth-child(3){
                    display: block;
                    font-size: 20px;
                    color: #fff;
                  }
                }
              }
              & > li:nth-child(2){
                    float: left;
                    padding-left: 15px;
                    padding-top: 8px;
                    font-weight: 600;
                    display: flex;
                    align-items: center;
                    width: calc(100% - 100px);
                    @media (max-width:800px) {
                      align-items: center;
                      width: 100%;
                      padding-left: 0;
                    }
                ul{
                  @media (max-width: 800px) {
                    align-items: center;
                    display: flex;
                  }
                  li:nth-child(1){
                    color: #797979;
                    font-weight: 600;
                    font-size: 80%;
                    @media (max-width:800px) {
                      width: 100%;
                    }
                  }
                  li:nth-child(2){
                    font-weight: 600;
                    font-size: 18px;
                    padding: 3px 0;
                    line-height: 1.1;
                    color: #111;
                    width: 100%;
                    @media (max-width:800px) {
                      font-size: 16px;
                    }
                  }
                  li:nth-child(3){
                    color: #07bfd7;
                    font-size: 16px;
                    font-weight: 400;
                    @media (max-width:800px) {
                      display: none;
                    }
                  }
                }
              }
              & > li:nth-child(3){
                width: calc(100% - 360px);
                float: left;
                position: relative;
                @media (max-width: 1100px) {
                  width: auto;
                }
                p{
                  display: inline-block;
                  background: #07bfd7;
                  padding: 9px 30px;
                  color: #fff;
                  height: 36px;
                  font-size: 16px;
                  font-weight: 500;
                  text-transform: uppercase;
                  border-radius: 6px;
                  float: right;
                  display: flex;
                  align-items: center;
                }
              }
            }
          }
          }
        }
      }
    }
  }

main .events-section::after{
  position: absolute;
  content: "";
  bottom: -74px;
  left: 0;
  top: 99%;
  width: 100%;
  height: 28%;
  background: url('../icons/event-down.svg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
  z-index: 1;
  @media (max-width:450px) {
    display: none;
  }
}

main .events-section::before{
    position: absolute;
    content: "";
    top: -53px;
    left: 0;
    width: 100%;
    height: 38%;
    background: url('../icons/event-upper.svg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
    @media (max-width:450px) {
      display: none;
    }
    @media (max-width:1025px) {
        top: -41px;
    }
    @media (max-width:800px) {
        top: -24px;
    }
}

main .events-section .cards-wrapper::before{
  content: "";
  position: absolute;
  background-image: url('../icons/calender.png');
  top: -60px;
  left: 28%;
  width: 65px;
  height: 70px;
  animation-duration: 1s;
  animation-delay: 100ms;
  animation-iteration-count: infinite;
  animation-name: pulse;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
main .events-section .cards-wrapper::after{
  content: "";
  position: absolute;
  background-image: url(../icons/tropy.png);
  top: -60px;
  right: 18%;
  left: auto;
  width: 52px;
  height: 70px;
  animation-duration: 1s;
  animation-delay: 100ms;
  animation-iteration-count: infinite;
  animation-name: pulse;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
}
